@import "variables";

@import "header";
@import "footer";
@import "results";

.EmojiPanel__tooltip {
    display: none;
}

.EmojiPanel {
    width: 100%;
    border-radius: $EmojiPanel-border-radius;
    background: $EmojiPanel-background-panel;
    text-align: left;
    z-index: 1060;
    border: 1px solid $EmojiPanel-border-input;

    @media(min-width: $EmojiPanel-width) {
        width: $EmojiPanel-width;
    }

    &--trigger {
        visibility: hidden;
        pointer-events: none;
    }
    &--open {
        visibility: visible;
        pointer-events: inherit;
    }

    button {
        padding: 0;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
    }

    .emoji {
        width: $EmojiPanel-emoji-width;
        height: $EmojiPanel-emoji-width;
        border: 5px solid transparent;
        border-radius: $EmojiPanel-border-radius;
        font-size: ($EmojiPanel-emoji-width - 10px);
        line-height: 1.1;
        cursor: pointer;
        transition: all 0.2s;

        &:hover, &:focus {
            background: #F1F1F1;
            border-color: #F1F1F1;
        }
    }
    .temp {
        flex: initial;
        width: 20px;
        min-width: initial;
        height: 20px;
        margin: 5px;
        border-radius: $EmojiPanel-border-radius;
        background: #EEE;
    }
}

.emoji-container {
    &--input-trigger {
        position: relative;
        .btn-trigger {
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 5px;
            z-index: 100;
            transition: none;
            background: none;
            border: none;
            &:focus {
                outline: none;
            }
            .fa {
                font-size: 2rem;
            }
        }

        .emoji-input {
            background-color: #f3f2f2;
            max-width: 20rem;
            margin: 2rem auto;
            border: 1px solid #dcdcdc;
            height: 2rem;
            text-align: left;
            padding: 0 .6rem;
        }

        .emoji-content {
            height: 7rem;
            text-align: left;
            padding: .4rem 3rem .4rem .6rem;
            overflow: auto;
        }

        .EmojiPanel {
            position: absolute;
            top: 7rem;
            right: 0;
        }
    }

    .RichEditor-pictographImage {
        //width: 20px;
        //height: 20px;
        //display: inline-block;
        color: transparent;
        caret-color: #151513;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        vertical-align: middle;
        margin: 0 1px;
    }
}

.emoji-wrap {
    max-width: 20rem;
    margin: 3rem auto;
}


.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
