@import "variables";

@import "header";
@import "footer";
@import "results";

.EmojiPanel__tooltip {
    display: none;
}

.EmojiPanel {
    width: 100%;
    border-radius: $EmojiPanel-border-radius;
    background: $EmojiPanel-background-panel;
    text-align: left;
    z-index: 1060;
    border: 1px solid $EmojiPanel-border-input;

    @media(min-width: $EmojiPanel-width) {
        width: $EmojiPanel-width;
    }

    &--trigger {
        visibility: hidden;
        pointer-events: none;
    }
    &--open {
        visibility: visible;
        pointer-events: inherit;
    }

    button {
        padding: 0;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
    }

    .emoji {
        width: $EmojiPanel-emoji-width;
        height: $EmojiPanel-emoji-width;
        border: 5px solid transparent;
        border-radius: $EmojiPanel-border-radius;
        font-size: ($EmojiPanel-emoji-width - 10px);
        line-height: 1.1;
        cursor: pointer;
        transition: all 0.2s;

        &:hover, &:focus {
            background: #F1F1F1;
            border-color: #F1F1F1;
        }
    }
    .temp {
        flex: initial;
        width: 20px;
        min-width: initial;
        height: 20px;
        margin: 5px;
        border-radius: $EmojiPanel-border-radius;
        background: #EEE;
    }
}

.emoji-container {
    &--input-trigger {
        position: relative;
        max-width: 20rem;
        margin: 3rem auto;
        .btn-trigger {
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 5px;
            z-index: 100;
            transition: none;
            background: none;
            border: none;
        }

        .emoji-input {
            background-color: #f3f2f2;
            max-width: 20rem;
            margin: 2rem auto;
            border: 1px solid #dcdcdc;
            height: 2rem;
            text-align: left;
            padding: 0 .6rem;
        }

        .emoji-content {
            background-color: #f3f2f2;
            border: 1px solid #dcdcdc;
            height: 7rem;
            text-align: left;
            padding: 0 3rem 0 .6rem;
            overflow: auto;
        }

        .RichEditor-pictographImage {
            width: 20px;
            height: 20px;
            display: inline-block;
            vertical-align: middle;
            margin: 0 3px;
        }

        .EmojiPanel {
            position: absolute;
            top: 7rem;
            right: 0;
        }
    }
}
