.EmojiPanel {
    &__results {
        overflow-y: auto;
        height: 300px;
        padding: 0 $EmojiPanel-padding-results $EmojiPanel-padding-results;

        .emoji {
            background: #FFF;
        }
    }

    &__noResults {
        display: none;
        width: 100%;
        padding: 100px 0;
        text-align: center;
        color: $EmojiPanel-category-title;
    }

    &__category {
        margin: 15px 0 5px;
        padding: 0 0 5px;
        border-bottom: 1px solid $EmojiPanel-border-input;
        color: $EmojiPanel-category-title;
    }
}

#emoji-input {
    //background-color: #f3f2f2;
    max-width: 20rem;
    margin: 2rem auto;
    border: 1px solid #dcdcdc;
    height: 2rem;
    text-align: left;
    padding: 0 .6rem;
}

#emoji-content {
    background-color: #f3f2f2;
    max-width: 20rem;
    margin: 2rem auto;
    border: 1px solid #dcdcdc;
    height: 7rem;
    text-align: left;
    padding: 0 .6rem;
    overflow: auto;
}

.RichEditor-pictographImage {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px;
}
