// Colors
$EmojiPanel-background-header: #FCFCFC !default;
$EmojiPanel-border-header: #ccc !default;
$EmojiPanel-background-panel: #FFF !default;
$EmojiPanel-border-input: #ccc !default;
$EmojiPanel-category-title: #777 !default;

// Padding and Borders
$EmojiPanel-padding-results: 9px !default;
$EmojiPanel-border-radius: 3px !default;

// Dimensions
$EmojiPanel-emoji-width: 28px !default;
$EmojiPanel-width: $EmojiPanel-emoji-width * 9 + ($EmojiPanel-padding-results * 2) + 2;
